body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alert {
    color: white;
    width: 100%;
    padding: 10px;
    display: block;
    text-align: center;
    font-weight: bold;
}

.alert-success {
    background: #3adb76;
}

.alert-info {
    background: #5eb5e0;
}

.alert-danger {
    background: red;
}
